.home-header-container {
    height: 60px;
    // border: 1px solid red;
    width: 100%;
    padding: 0 20px;

    .home-header-content {
        width: 100%;
        display: flex;
        height: 100%;

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;

            .header-logo {
                background: url('../../assets/logo2.jpg') center center no-repeat; //Fix cái ảnh này phát
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            i {
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 25px;
        }

        .right-content {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}